.card{
    border: solid;
    border-radius: 10px;
    min-width: 40%;
    padding: 5px;
    text-decoration: none;
    color: black;
    background-color:rgb(251, 195, 51); 
    border-color: black;
    min-height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.card:hover {
  opacity: 0.9;
  background-color: beige;
  border-color: black;
}
