.Filter{
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    padding: 3px 3px;  
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    background-color:rgb(251, 195, 51); 
    text-align: "center";
    width: 5cm;
  }

.box{
  border: solid;
  border-radius: 15px;
  padding: 8px;
  margin: 0.5cm;
  background-color: rgb(117,216,186,255);
}
.BgFilter{
  background: url("./Filters-Background.jpg");
}